html, body, form {
    background-color: #A61C3C;
    width: 95%;
    height: 100%;
    padding: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width : 760px) {
    html, body, form {
        width: 100%;
    }
}

/*Header design*/
.header {
    background-color: #E1DEE3;
    float: right;
    width: 100%;
    height: auto;
    padding-top: 1%;
}

/*Position Logo*/
.logo {
    float: none;
    width: 300px;
    height: auto;
    padding-top: 1%;
    margin: auto;
}

/*Size logo*/
img {
    width: 300px;
    height: auto;
}

/*------------------------------------------------------------------------------------------------*/
/*Strip the ul of padding and list styling*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    width: 100%;
}
/*Create a horizontal list with spacing*/
li {
    display: inline-block;
    float: left;
    width: 16.6666666667%;
}
    /*Style for menu links*/
    li a {
        display: block;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #4F4641;
        background: #E1DEE3;
        text-decoration: none;
    }
    /*Hover state for top level links*/
    li:hover a {
        background: #A61C3C;
        color: #ffffff;
    }

    li a.active {
        background-color: #A61C3C;
        color: #ffffff;
    }

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: #ffffff;
    background: #A61C3C;
    text-align: center;
    padding: 10px;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox] {
    display: none;
}
    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ #menu {
        display: block;
    }
/*Responsive Styles*/
@media screen and (max-width : 760px) {
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
        /*Make all menu links full width*/
        ul li, li a {
            width: 100%;
        }
    /*Display 'show menu' link*/
    .show-menu {
        display: block;
    }
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*content box design*/
.content {
    background-color: #ffffff;
    float: right;
    width: 80%;
    height: 100%;
}


/*Sidebar menu design*/
.vertical-menu {
    width: 20%;
    float: left;
    display: block;
    background: #E1DEE3;
    height: 100%;
}

    .vertical-menu a { /*Design sidebar menu*/
        background-color: #E1DEE3;
        color: #4F4641;
        display: block;
        padding: 18px;
        text-decoration: none;
        border-top: 1px solid #A61C3C;
    }

        .vertical-menu a:hover { /* Red background on mouse-over */
            background-color: #A61C3C;
            color: #ffffff;
        }

        .vertical-menu a.active { /* Add a red color to the "active" button */
            background-color: #A61C3C;
            color: #ffffff;
        }


/*footer design*/
footer {
    float: left;
    background-color: #E1DEE3;
    width: 100%;
    height: 10%;
    text-align: center;
}

    footer a {
        margin-top: 10%;
        font-family: Arial, Helvetica, sans-serif;
        color: dimgrey;
    }
