html, body, form {
    background-color: #ededed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#Header {
    float: right;
    background-color: darkgrey;
    width: 100%;
    height: auto;
    padding-top: 1%;
    box-shadow: 5px 10px black;
}


.logo {
    float: left;
    width: 300px;
    height: auto;
    padding-top: 1%;
}

@media screen and (max-width: 600px) {
   .logo{
       margin: auto;
       float: none;
   }

}

img {
    width: 300px;
    height: auto;
}


/*navbar van W3schools*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #ccc;
    overflow: hidden;
    height: 50px;
    display: inline-block;
    width: 100%;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        border: 1px solid #ededed;
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

/* Add an active class to highlight the current page */
.active {
    background-color: #f68827;
    color: #ffffff;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover {
    background-color: #f68827;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.a:hover {
    background-color: #f68827;
    color: black;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

    .topnav.responsive {
        float: none;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/*content box*/
.content {
    float: right;
    border-color: black;
    width: 75%;
    height: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 5px 10px black;
}

.Sidebar {
    float: left;
    width: 15%;
    height: 100%;
    margin-top: 1%;
    display: block;
    background: #ccc;
}

    /*Opmaak sidebar menu*/
    .Sidebar ul {
        list-style: none;
        float: left;
        padding-left: 0px;
    }

ul li {
    width: calc(100% - 10%);
    height: 20%;
    background: #ccc;
    padding: 10px;
    border-top: 3px solid #ededed;
    transition: opacity .2s, margin-left .5s;
    float: left;
}

    ul li a {
        text-decoration: none;
        font-size: 17px;
        text-align: left;
        color: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 0, 1);
    }

    ul li:hover {
        opacity: .9;
        margin-left: 7px;
    }


footer {
    float: left;
    background-color: #ccc;
    width: 100%;
    height: 10%;
    box-shadow: 5px 10px black;
    text-align: center;
}

    footer a {
        margin-top: 10%;
        font-family: Arial, Helvetica, sans-serif;
        color: dimgrey;
    }
